@using Microsoft.AspNetCore.Identity
@using AgileProject.Entidades
@*@inject SignInManager<AspNetUsers> SignInManager*@
@*@inject UserManager<AspNetUsers> UserManager*@

@{
    ViewData["Title"] = "Settings | Roles";
}

@if (ViewBag.IsSignedIn != null)
{
    @if (ViewBag.IsSignedIn)
    {

        <h1>Manage your configuration</h1>

        <div>
            <h2>Change your settings</h2>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="_Menu" />

                </div>

                <form id="profile-form" asp-controller="Settings" asp-action="SaveRole" method="post">
                    <div class="col-md-9">
                        <h3>
                            <a class="text-dark" id="profile" href="/Settings">Settings</a> <span>&nbsp;>&nbsp;</span>
                            <a class="text-dark" id="profile" href="/Settings/ListRoles">Change roles</a><span>
                                &nbsp;>&nbsp;
                            </span><span><span id="eventNameTitleCRUD"></span> Role</span>
                        </h3>



                        <div class="row">
                            <div class="col-md-8">
                                <div class="row" style="margin-bottom: 15px; margin-left: 1px;">
                                    <div style="display:inline;">
                                        <div style="float:left;">
                                            <h3></h3>

                                        </div>


                                    </div>
                                </div>
                                @if (ViewBag.IsOk == true)
                                {
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                                        Your role has been updated
                                    </div>
                                }
                                <div class="form-floating" style="display: none;">
                                    <input class="form-control" type="text" id="Id" name="Id" value="@Model.Id" />
                                    <label class="form-label" for="Id">Id</label>
                                </div>
                                <div class="form-floating" style="display:none;">
                                    <input class="form-control" type="text" id="UserName" name="UserName" value="@ViewBag.UserName" />
                                    <label class="form-label" for="UserName">Username</label>
                                </div>


                                <div class="form-floating">
                                    <input class="form-control" type="text" data-val="true" id="NormalizedName" name="NormalizedName" value="@Model.NormalizedName" />
                                    <label class="form-label" for="NormalizedName">Name</label>
                                    <span id="requiredNormalizedName" style="display:none" class="text-danger field-validation-error" data-valmsg-for="NormalizedName" data-valmsg-replace="true">
                                        <span id="requiredNormalizedName-error" class="">The Current name field is required.</span>
                                    </span>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" type="text" data-val="true" id="Name" name="Name" value="@Model.Name" />
                                    <label class="form-label" for="Name">Short</label>
                                    <span id="requiredName" style="display:none" class="text-danger field-validation-error" data-valmsg-for="Name" data-valmsg-replace="true">
                                        <span id="requiredName-error" class="">The Current short field is required.</span>
                                    </span>
                                </div>


                                <br />



                                <br />
                                <br />
                                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8DsfhTB1faNAgHLDIY0x9vl4T5NT40_LZbcUT6QliFP4TuKlxintAI8UvfkKk8RyDY09yksaWBfHRFlgw7y4htrpexW2KwZK826pwuYJ9lkSKK1Hlhkj-2pPs8m-TtFDxhVBXWeWYjec13SaVMJhVUzjFq7G4o0BrViqBnsk-Lvs4CGJampER3fwMZbZK408IQ" />


                            </div>
                        </div>

                    </div>


                </form>


            </div>
        </div>



    }
}


else
{
    <partial name="_LoginRegisterPartial" />
}


@section Scripts
{

    <script type="text/javascript">
    //var element = document.getElementById("TeamsListStr");
    //console.log(element.value);

    var model = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    //console.log(model);


    inicio();

    function inicio() {


        var el = document.getElementsByName("settings");

        el.forEach((item, index, arreglo) => {
            //console.log(item);
            item.classList.add("active");
        });


        var id = document.getElementById("Id").value;
        var eventNameTitleCRUD = document.getElementById("eventNameTitleCRUD");
        eventNameTitleCRUD.innerHTML = "New";
        if (!isNullOrEmpty(id)){
            eventNameTitleCRUD.innerHTML = "Edit";

        }
    }


    function isNullOrEmpty(str) {
        var returnValue = false;
        if (!str
            || str == null
            || str === 'null'
            || str === ''
            || str === '{}'
            || str === 'undefined'
            || str === '-Select-'
            || str.length === 0) {
            returnValue = true;
        }
        return returnValue;
    }



    $("#profile-form").submit(function (event) {
        /* stop form from submitting normally */
        //event.preventDefault();

        /* get some values from elements on the page: */
        var $form = $(this),
            $submit = $form.find('button[type="submit"]'),
            Name = $form.find('input[name="Name"]').val(),
            NormalizedName = $form.find('input[name="NormalizedName"]').val(),

            url = $form.attr('action');

        var ret = true;

        if (isNullOrEmpty(Name)) {
            document.getElementById("requiredName").style.display = '';
            ret = false;
        }
        else {
            document.getElementById("requiredName").style.display = 'none';
        }
        if (isNullOrEmpty(NormalizedName)) {
            document.getElementById("requiredNormalizedName").style.display = '';
            ret = false;
        }
        else {
            document.getElementById("requiredNormalizedName").style.display = 'none';
        }

        // send your data here, the form should be valid
        //$submit.text('Save');
        //$submit.attr("disabled", true);
        return ret;
    });

    </script>
}






